html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #374045;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #008891;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
